API_ID=25764674
API_HASH=2a0e2ad0ba7aa4810d733da3d90ba5bb
BOT_TOKEN=8833576218:AAH55p4AwofQVozpQRMdB9FAjnb0871Tz7I
LOGGER_ID=-1003969144179
MONGO_DB_URI=mongodb+srv://nomercy:arab123@cluster0.49s3hu4.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=1347708770
START_IMG_URL=https://ibb.co.com/Gv1bCJs3
STRING_SESSION=BQAP-GEAmBhoKQQMjgdys2AuS000bSWSKU1SKIdSSPM4kcUDsZU0D_fn2MkoLHKnQSw9qzEKrc21gcwqkaHP7AdWtOVzoXQrIoJLlRUOcYkDaE7QpuiF08QelVakE9WIjs3jWRpb2ltTAvu6EoTMTN2b3AMXYu2poEMmtJ_z4G7syM0z-_XQm_FnWeq61yFAlUxai6wNW0DK-57NBPMT3GBNPsKj3y8esf2Hoc3UKksux1BtS47pS86gtvWeobTofoGtBKd6mVJcISwUAPVN21t49SHm0H6_sknalZSIJXB1AsO_folSHD0RnQITSqEXz51wAuUAqAuM2Vo1SpVQtY6BuZFZdAAAAABapjLcAA